.card {
    border: solid black 3px;
    background-color: gray;
    margin-top: 20px;
    margin-left: 10px;
}
#view-scores {
    padding: 10px;
    margin:10px;
    background-color: green;
    font-size: 14px;
}
#start-button {
    padding: 10px;
    margin: 10px;
    background-color: blue;
    font-size: 18px;
}

}
#question-div {
    font-size: 20px;
    font-style: oblique;
}